.container{
    display: flex;
    flex-wrap: wrap;
    width: 650px;
    margin: 0 auto;
}
.box{
    display: inline-block;
    width: 100px;
    height: 100px;  
    background-color: red;
    border:1px solid white;  
}
.azul{
    background-color: blue;
}

.vermelho{
    background-color: red;
}

.verde{
    background-color: rgb(0, 255, 0);
}

.amarelo{
    background-color: yellow;
}

.borda{
    border-color:black;
}